<nav>
  <ul>
    <!-- Home -->
    <li>
      <a routerLink="">
        <i class="material-icons"> account_balance </i>
      </a>
    </li>
    <!-- AutoFill -->
    <li>
        <a routerLink="/AutoFill">
          <i class="material-icons">get_app </i>
        </a>
    </li>
    <!-- New Template -->
    <li>
        <a routerLink="Templates/new">
          <i class="material-icons"> playlist_add </i>
        </a>
    </li>
    <!-- Templates List -->
    <li>
        <a routerLink="Templates">
          <i class="material-icons"> list </i>
        </a>
    </li>
    <!-- Account -->
    <li>
        <a routerLink="Account">
          <i class="material-icons"> account_box </i>
        </a>
    </li>
  </ul>
</nav>